/* Start of Body */

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

section{
    display: contents;
}

/* End of Body */


/* Start of Nav */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar.scrolled {
    border-bottom: 1px solid #969696; 
}

nav img{
    width: 125px;
    height: 50px;
}

/* End of Nav */

/* Start of Search */

.search-container{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background-color: #f6f6f6;
}

.search-input{
    font-size: 20px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
}

/* End of Search */


/* Start of Hero */

#hero-img{
    width: 100%;
    grid-area: hero-img;
    grid-column: 1 / 3; 
    object-fit: cover;
}

#hero-text-box{
    grid-area: hero-text-box;
    margin: 40px;
}

#hero-img-box{
    grid-area: hero-img-box;
}

#hero-text-box h1{
    font-size: clamp(20px, 6vw, 50px);
    margin-bottom: 20px;
}

#hero-text-box p{
    font-size: 20px;
}

#hero-text-box button{
    margin-top: 20px;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: linear-gradient(135deg, #64b3f4, #0061ff);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* End of Hero */


/* Start of Gallery */

#gallery-display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 325px);
    justify-content: center;
    align-items: center;
}

.gallery-link {
    text-decoration: none;
    color: black
}

#gallery-container{
    grid-area: gallery-container;
    max-width: 1000px;
}

.gallery-box{
    width: 225px;
    height: 225px;
    background-color: rgb(227, 227, 227);
    border-radius: 24px;
}

.gallery-box img{
    width: 225px;
    height: 225px;
}

.gallery-types{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.gallery-text-box{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    gap: 5px;
}

.gallery-type-box{
    padding: 3px;
    font-size: 12px;
    border-radius: 2px;
    color: white;
}

.fire{
    background-color: rgb(255, 140, 0);
}

.flying{
    background-color: #87CEEB;
}

.psychic{
    background-color: #FF69B4;
}

.ghost{
    background-color: #2C3E50;
}

.poison{
    background-color: #6A0DAD;
}

.fighting{
    background-color: #D2691E;
}

.steel{
    background-color: #B8B8D0;
}

.water{
    background-color: #0077BE;
}

.dark{
    background-color: #1C1C1C;
}

.dragon{
    background-color: #8B0000;
}

.ground{
    background-color: #D4A017;
}

.electric{
    background-color: #FFD700;
}

.bug{
    background-color: #A8B820;
}

.normal{
    background-color: #A8A090;
}

#gallery-header{
    font-size: clamp(20px, 6vw, 50px);
    margin-top: 50px;
    padding-top: 70px;
    margin-bottom: 20px;
    border-top: 1px solid grey;
}

/* End of Gallery */


/* Start of Footer */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    margin-top: 100px;
}

#footer-contacts{
    display: flex;
    gap: 50px
}

#footer-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

#footer-contacts ul{
    display: flex;
    gap: 25px;
    list-style: none;
}

#footer-contacts a {
    text-decoration: none;
    color: black
}

/* End of Footer */


/* Start of Search Results Page */

#search-results-display{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#search-results-container{
    max-width: 1000px;
    margin: 0 auto;
}

#search-results-display h3{
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#search-results-display img{
    height: 300px;
    width: 300px;
}

#search-results-img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
    border-radius: 12px;
}

#myChart {
    width: 500px !important; /* Set a fixed width */
    height: 200px !important; /* Set a fixed height */
}
/* End of Search Results Page */


/* Start of Container */

.container{
    min-height: 100dvh;
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  minmax(400px, auto);
    grid-template-areas:
    "hero-img-box hero-img-box hero-text-box hero-text-box"
    "gallery-container gallery-container gallery-container gallery-container";
    margin-top: 100px;
}

/* End of Container */